.main{
    height: 41.5em;
    background-image: url("src/assets/loginbg.jpg");  
    background-repeat: no-repeat;  
    background-size:cover;
    height: 50em;
}
.login-box{
    width:400px;
    height:300px;
    border-width: 100px;
    border-color: darkgreen;
    border-radius: 30px;
   /* background-image:url("src/assets/adminbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: rgb(214, 240, 181);
    color:rgb(15, 14, 14);
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding:70px 30px;
    padding-top: 2em;
    }