<div class="main">
    <form [formGroup]="fpForm" (ngSubmit)="SubmitData1()" novalidate>
    <div class="login-box">
        <!-- <h5 style="margin-left: 10px;">Enter your mail id</h5> -->
        <h3>Forget Password</h3>
        <p class="form-group col-10">
            <label for="Email"><h5>Email</h5></label>
            <input type="text" id="Email" name="Email" class="form-control" placeholder="Enter email" formControlName="Email" />
        </p>
        
        <div *ngIf="!Email?.valid && (Email?.dirty || Email?.touched)" class="form-group error col-8">
            <div *ngIf="Email!.errors!.required">
              Email is required
            </div>
        </div>
        <div *ngIf="Email!.errors?.pattern" class="col-8 error">
            
            enter correct email
             
         </div> 
         
            <button type="submit" class="btn btn-light btn-lg" style=" background-color: red; border-radius: 10px; margin-top: 10px; margin-left: 15px; color:white;"
             [disabled]="!fpForm.valid">Login</button> 
        
        
    </div>
    </form>
</div>


