<body>
    <div class="main">
    <form [formGroup]="resetForm" (ngSubmit)="Submitdata()" novalidate>
    <div class="login-box" style=" border-radius: 5%; box-shadow: black;">
        <img src="assets/bidder.jpg" width="135" height="135" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 style="margin-left: 10px;">Reset Password</h1>

        <p class="form-group col-10">
            <label for = "Otp"><h5 style="font-size: 20px;">Password</h5></label>
            <input type = "number" id = "Otp" name = "Otp" class="form-control" placeholder="Otp" 
            formControlName="Otp"/>
        </p>
        <p class="form-group col-10">
            <label for = "Password"><h5 style="font-size: 20px;">Password</h5></label>
            <input type = "Password" id = "Password" name = "Password" class="form-control" placeholder="Password" 
            formControlName="Password"/>
        </p>
        <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="form-group error col-8">
            <div *ngIf="Password!.errors!.required">
              Password is required
            </div>
        </div>
        <p class="form-group col-10">
            <label for = "ConfirmPassword"><h5 style="font-size: 20px;">Confirm Password</h5></label>
            <input type = "ConfirmPassword" id = "ConfirmPassword" name = "ConfirmPassword" class="form-control" placeholder="ConfirmPassword" 
            formControlName="ConfirmPassword"/>
        </p>
        <div *ngIf="!ConfirmPassword?.valid && (ConfirmPassword?.dirty || ConfirmPassword?.touched)" class="form-group error col-8">
            <div *ngIf="ConfirmPassword!.errors!.required">
              Confirm Password
            </div>
        </div>
    
        <div class="form-group form-check">
            <button type="submit" class="btn btn-light btn-lg" style=" height:30px; width: 80px;border-radius: 10%; 
            margin-top: 10px; color: rgb(255, 254, 254); background-color: rgb(231, 19, 19);" 
            [disabled]="!resetForm.valid">Change Password</button><br><br>
            
        </div>
        
        </div>   
    
    </form>
    </div>
</body>





