<body>
    <div class="main">
    <form  (ngSubmit)="Submitdata()" >
    <div class="login-box" style=" border-radius: 5%; box-shadow: black;">
        <img src="assets/bidder.jpg" width="135" height="135" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 style="margin-left: 10px;">Bidder Login</h1>
        
        <!-- <p class="form-group col-10" >
            
            <label for="emailid" ><h5 style="font-size: 20px;">Email</h5></label>
            <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email"
             formControlName="emailid" />
        </p>
        
        <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-8">
            <div *ngIf="emailid!.errors!.required">
              Email is required
            </div>
        </div>
        <div *ngIf="emailid!.errors?.pattern" class="col-8 error">
            
            Enter correct email
             
         </div>
        
        <p class="form-group col-10">
            <label for = "password"><h5 style="font-size: 20px;">Password</h5></label>
            <input type = "password" id = "password" name = "password" class="form-control" placeholder="Password" 
            formControlName="password"/>
        </p>
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-group error col-8">
            <div *ngIf="password!.errors!.required">
              Password is required
            </div>
        </div>
     -->

     <label for="t2">Enter your Email ID:</label>
      <input 
              type ="email" 
              name = "t2" 
              [(ngModel)]=login.email 
              required    
              email
              #email="ngModel"    
      /><br><br>
      <div 
            *ngIf = "email.invalid && (email.dirty || email.touched)"
            class = "alert">
            <div *ngIf="email.errors?.required">
                  Email is Required!!!
            </div>
            <div *ngIf="email.errors?.email">
                  Email is Wrong format!!! Right format : xyx@gmail.com
            </div>
      </div>

      <label for="t3">Enter your Password:</label>
      <input 
              type ="password" 
              name = "t3" 
              [(ngModel)]=login.password 
              required
              minlength="6"
              #pass="ngModel"
       /><br><br>
       <div 
            *ngIf = "pass.invalid && (pass.dirty || pass.touched)"
            class = "alert">
   
            <div *ngIf="pass.errors?.required">
                        Enter you password!!!
            </div>
   
            <div *ngIf = "pass.errors?.minlength">
                        password must be atleast 6 characters
            </div>
        </div>      



        <div class="form-group form-check">
            <button type="submit" class="btn btn-light btn-lg" style=" height:30px; width: 80px;border-radius: 10%; 
            margin-top: 10px; color: rgb(255, 254, 254); background-color: rgb(231, 19, 19);" 
            >Login</button><br><br>
            <a routerLink="/ForgetPassword">Forgot Password?</a> &nbsp;&nbsp;&nbsp;
            <a routerLink="/BidderRegistration">New User? Register Here!!</a><br>
        </div>
        
        </div>   
    
    </form>
    </div>
</body>





