<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <img src="assets/websitelogo.jpg" width="70px" height="70px" style="float: left;">
    <a href="#home" class="w3-bar-item w3-button w3-wide"><b><I>SEED THE RAISE</I></b></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button" >ABOUT</a>
     
      <a href="#contact" class="w3-bar-item w3-button" ><i class="fa fa-envelope"></i> CONTACT</a>
      <div class="dropdown">
        <button class="dropbtn">Login
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/FarmerLogin">Farmer</a>
          <a routerLink="/BidderLogin">Bidder</a>
          <a routerLink="/AdminLogin">Admin</a>
        </div>
      </div> 

      <div class="dropdown">
        <button class="dropbtn">SignUp
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/FarmerRegistration">Farmer</a>
          <a href="/BidderRegistration">Bidder</a>
        </div>
      </div> 

    </div>
  </div>
</div>


<!-- Header with full-height image -->
<header class="bgimg-1  " id="home">
  <div class="w3-display-left w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Scheme For Farmers</span><br>
    
    
    <p><a href="#about" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more about us</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-black w3-large" style="padding:14px 50px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-instagram w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-snapchat w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-twitter w3-hover-opacity"></i>&nbsp;
    <i class="fa fa-linkedin w3-hover-opacity"></i>&nbsp;
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:108px 16px" id="about">
  <h3 class="w3-center" style="background: white; font-weight: bolder;">ABOUT US</h3>
  
  <div class="w3-row-padding w3-center" style="margin-top:64px"></div>
    <div class="w3-center">
     
      
      <div class="container-fluid"style="background-color: #f7f6f6;">
        <div class="container">
            <div class="row" >
                <div class="col-md-12 text-center py-5">
                    <h1 style="color: #90c43e;">Our Vision</h1>
                    <img src="assets/vision.jpg" width="150" height="150">
                    
                    <p style="font-size: 25px;"> Agri Marketplace’s vision is to become the largest agricultural fair-trade platform,
                        <br>
                        connecting farmers to industrial all around the world.</p>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="row" >
                <div class="col-md-12 text-center py-5">
                    <h1 style="color: #90c43e;">Our Mission</h1>
                    <img src="assets/mission.jpg" width="150" height="150">
                    <p style="font-size: 25px;">Agri Marketplace’s mission is to become The global reference for Digital agricultural food crop transactions
                        <br>
                        through a complete Platform solution.</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row" >
                <div class="col-md-12 text-center py-5">
                    <h1 style="color: #90c43e;">Our Focus & Experience</h1>
                    <img src="assets/focus.jpg" width="150" height="150">
                    <p style="font-size: 25px;">Agri Marketplace is a group of experts who leverage their knowledge & experience in Farming, Industry Procurement,
                        <br> Digital Business, and Disruptive Innovation at all times.
                         We aim at redistributing value through the agriculture supply chain, to do so requires us to be agile, reliable and transparent. We promote these values throughout all of our actions, operations and services.
    
                    </p>
                </div>
                
            </div>
        </div>
       
    </div>
    
   
        
    
    
    <div class="container-fluid">
        <div class="container">
            <div class="row" >
                <div class="col-md-12 text-center py-5">
                    <h1 style="color: #90c43e;">Certified B Corporation</h1>
                    <img src="assets/certified.jpg" width="150" height="150">
                    <p style="font-size: 25px;">The B Corporations are a new kind of business that balances purpose and profit.
                         They are legally required to consider the impact of their decisions on their workers, customers, suppliers, community, and the environment.
                         This is a community of leaders, driving a global movement of people using business as a force for good.
    
                    </p>
                </div>
                
            </div>
        </div>
    </div>
   
    
    
  </div>
</div>


<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT US</h3>
  <div class="w3-center" style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> LTI Infotech, Mahape, Navi Mumbai</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +91-9790954938</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: farmersscheme@lti.com</p>
    <br>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>@Copyrights reserved by L&T Infotech</p>
</footer>
 

</body>

