<body>
    <div class="main">
    <form [formGroup]="AdminLoginForm" (ngSubmit)="Submitdata()" novalidate>
    <div class="login-box" style=" border-radius: 5%; box-shadow: black;">
        <img src="assets/admin.jpg" width="120" height="120" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 style="margin-left: 65px;">Admin Login</h1>
        
        <p class="form-group col-10" >
            
            <label for="emailid" ><h5 style="font-size: 20px;">Email</h5></label>
            <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email" formControlName="emailid" />
        </p>
        
        <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-8">
            <div *ngIf="emailid!.errors!.required">
              Email is required
            </div>
        </div>
        <div *ngIf="emailid!.errors?.pattern" class="col-8 error">
            
            Enter correct email
             
         </div>
        
        <p class="form-group col-10">
            <label for = "password"><h5 style="font-size: 20px;">Password</h5></label>
            <input type = "password" id = "password" name = "password" class="form-control" placeholder="Password" formControlName="password"/>
        </p>
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-group error col-8">
            <div *ngIf="password!.errors!.required">
              Password is required
            </div>
        </div>
    
        <div class="form-group form-check">
            <button type="submit" class="btn btn-light btn-lg" style=" height:30px; width: 80px;border-radius: 10%; margin-top: 10px; color: rgb(255, 254, 254); background-color: rgb(231, 19, 19);" [disabled]="!AdminLoginForm.valid">Login</button><br><br>
            <a routerLink="/ForgetPassword">Forgot Password?</a> &nbsp;&nbsp;&nbsp;
            <a routerLink="#">New User? Register Here!!</a><br>
        </div>
        
        </div>   
    
    </form>
    </div>
</body>




