<body>
    

<div class="container-fluid">
    <div class="container">
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
                <tr>
                    <th>Crop Type</th>
                    <th>Crop Name</th>
                    <th>Land Area</th>
                    <th>Sum Insured</th>
                    <th>Application status</th>
                    <th>Claim status</th>
                    <th>Policy Id</th>
                </tr>
            </thead>

            <tbody >
                <tr> 
                    <td> Kharif</td>
                    <td> Rice</td>
                    <td> 1000</td>
                    <td>50000000 </td>
                    <td> Approved</td>
                    <td> Not Claimed</td> 
                    <td>Policy id</td>

        
        </tr>
            </tbody>

        </table>

    </div>

</div>
</body>
